<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>

<body>
    <h1>Employee List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Region ID</th>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="region : ${regions}">
                <td th:text="${region.regionId}"></td>
                <td th:text="${region.regionName}"></td>

            </tr>
        </tbody>
    </table>
</body>

</html>